@model IEnumerable<meuProjeto.Models.Book>

<h1>Books</h1>

<table class="table">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Genero</th>
            <th>Ano</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Titulo</td>
                <td>@book.Autor</td>
                <td>@book.Genero</td>
                <td>@book.Year</td>
                <td>
                    <a asp-action="Details" asp-route-id="@book.Id">Details</a>
                    <a asp-action="Edit" asp-route-id="@book.Titulo">Edit</a>
                    <a asp-action="Delete" asp-route-id="@book.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>